<div class="row row-cols-1 row-cols-md-2 g-4" *ngIf="projects.length > 0; else noProjects">
    <div class="col" *ngFor="let project of projects">
        <div class="card" [ngClass]="{'border-info': project.done, 'border-warning': !project.done}">
            <!-- Si può assegnare la singola classe border-info ai progetti con project.done semplicemente
            scrivendo [class.border-info]="project.done" -->
            <div class="card-body">
                <h5 class="card-title">
                    <span class="badge bg-secondary rounded-pill">{{ project.code  }}</span>
                    {{ project.name }}
                </h5>
                <p class="card-text">{{ project.description }}</p>
                <button class="btn btn-primary btn-sm" (click)="selectProject(project)">Vai al Progetto</button>
            </div>
            <div class="card-footer">
                <small class="text-muted" [ngStyle]="{'font-style': project.done ? 'italic' : 'normal'}"
                [style.fontSize]="'30px'">
                <!-- Si puó assegnare l'unità di misura direttamente dentro le parentesi quadre
                e inserendo a destra dell'uguale il numero puro [style.fontSize.px] = "30"; -->
                    <span>{{ project.start | date | uppercase}}</span>
                    <br>
                    <span>{{ project.start | date: 'dd/MMMM/yyyy' | titlecase}}</span>
                    <br>
                    <span>{{ project.start }}</span>
                    <!-- <span *ngIf="project.end"> | {{ project.end }} </span> -->
                </small>
            </div>
        </div>
    </div>
</div>

<ng-template #noProjects>
    <p>Non è presente nessun progetto</p>
</ng-template>

<p *ngIf="selectedProject">Progetto Selezionato: {{selectedProject.name}}</p>

<hr>
<ngprj-project-detail [project]="selectedProject"></ngprj-project-detail>

<form #f="ngForm" (ngSubmit)="submitProjectForm(f)" class="row g-3">
    <div class="col-md-4">
      <label for="name" class="form-label">Nome</label>
      <input type="text" name="name" class="form-control" placeholder="Nome" #nameField="ngModel" ngModel required>

      {{f.controls.name.value}}
      <!-- {{f.controls?.start?.value}} -->
      <p *ngIf="nameField.touched && nameField.invalid" class="text-danger"><small>Il campo è richiesto</small></p>
      <!-- *ngIf="f.controls?.name?.touched && f.controls?.name?.invalid" -->
    </div>
    <div class="col-md-4">
      <label for="priority" class="form-label">Priority</label>
      <select class="form-select" name="priority" #priorityField="ngModel" ngModel required>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
      <p *ngIf="priorityField.touched && priorityField.invalid" class="text-danger"><small>Il campo è richiesto</small></p>
    </div>
    <div class="col-md-4">
      <label for="validationDefaultUsername" class="form-label">Date</label>
      <input type="date" name="start" class="form-control" placeholder="Data di inizio" #dateField="ngModel" ngModel required>
      <p *ngIf="dateField.touched && dateField.invalid" class="text-danger"><small>Il campo è richiesto</small></p>
      <!-- {{f.controls.start.value}} -->
    </div>
    <div class="col-md-12">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" name="description" placeholder="Description" #descriptionField="ngModel" ngModel required></textarea>
      <p *ngIf="descriptionField.touched && descriptionField.invalid" class="text-danger"><small>Il campo è richiesto</small></p>
    </div>
    <div class="col-12">
      <button [disabled]="f.invalid" type="submit" class="w-100 btn btn-primary btn-lg">Crea</button>
    </div>
    <p>Validità: {{f.valid}}</p>
  </form>